$color-dark-100: #424242;
$color-dark-200: #333333;

$color-light-100: #8f8f8f;
$color-light-200: #cfcfcf;

$system-border: 1px solid $color-light-200;
$font-size-root: 24px;
$font-size-small: 0.67rem;
$font-size-regular: 1rem;