@import "./reset";
@import "./variables";
@import "./animations";
@import "./container";
@import "./pane";
@import "./window";
@import "./hover";
@import "./button";
@import "./layout";
@import "./input";
@import "./form";
@import "./image.scss";

html {
  font-size: $font-size-root;
  font-family: monospace;
  color: $color-light-200;
}

body {
  background-color: $color-dark-200;
}

p + * {
  margin-top: 1rem;
}

p:last-of-type:after {
  content: '';
  border-right: .5ch solid $color-light-200;
  animation: blink 3s steps(1) infinite;
}