.window {
  outline: $system-border;
}

.window + * {
  margin-top: 1rem;
}

.window-title {
  border-bottom: $system-border;
  text-align: center;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  user-select: none;
  position: relative;
}

.window.window--closable .window-title::after {
  content: "x";
  position: absolute;
  right: 0;
  border-left: $system-border;
  width: 3rem;
  text-align: center;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: initial;
}

.window.window--closable .window-title:hover::after {
  background-color: $color-dark-100;
}
.window-content {
  @media (min-width: 50rem) {
    padding: 1.5rem;
  }

  padding: 1rem;
}

.window-content--split {
  align-items: center;
  column-gap: 1rem;
  display: flex;
  justify-content: space-around;
}

.window-content--split > * {
  display: flex;
  justify-content: center;
}
